:root {
  --vp-c-brand-1: #2a7e3b;
  --vp-c-brand-2: #34964a;
  --vp-c-brand-3: #1f6330;
  --vp-c-brand-soft: rgba(42, 126, 59, 0.14);

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #2a7e3b 30%,
    #1a6b99
  );
}

.dark {
  --vp-c-brand-1: #3dba5e;
  --vp-c-brand-2: #34964a;
  --vp-c-brand-3: #2a7e3b;
  --vp-c-brand-soft: rgba(61, 186, 94, 0.16);
}
